[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
passlib = "*"
bcrypt = "*"
python-jose = "*"
cryptography = "*"
python-multipart = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
